$def with (haiku)

$var jsfiles: /static/automatoetry.js

<table class="haiku">
	<tr class="parent">
		<td class="genCount">$haiku.getGeneration()</td>
		<td colspan="2" class="phenotype" align="center" title="Seedwort: $haiku.getGenotype()[0] &#10;Gene: $haiku.getGenotype()[1]">(erzeuge Phänotyp...)</td>
	</tr>
	<tr class="empty"><br/></tr>
	<tr class="latest">
		<td colspan="3" align="center">
			<div align="center" id="loading" style="display:none">
				<img src="/static/ajax-loader.gif" />
			</div>
		</td>
	</tr>
</table>

<div class="errorMsg"></div>
