$def with (content)

<!DOCTYPE html PUBLIC “-//W3C//DTD HTML 4.01//EN” “http://www.w3.org/TR/html4/strict.dtd”>

<html>
	<head>
		<title>$content.title - Automatoetry</title>
		<link rel="stylesheet" type="text/css" href="/static/featherlight.css" />
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!--<script src="/static/jquery-1.10.1.min.js" ></script> -->
		$if content.jsfiles:
			$for f in content.jsfiles.split():
				<script type="text/javascript" src="$f"></script>
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
	</head>

	<body>
		<div id="wrap">
			<div id="header">
				<h1>
					<span class="logo">&nbsp;</span>
					Automatoetry
				</h1>
				<span id="description">Haikus mit Mensch und Maschine</span>
			</div>

			<div id="sidebar">
				<table class="sidemenu">
					<td>
						<a href="/">Neues Haiku</a>
					</td>
					<td>
						<a href="/faq">FAQ</a>
					</td>
					<td>
						<a href="/gallery">Galerie</a>
					</td>
					<td>
						<a href="https://github.com/tradloff/haiku">Quellcode (Github)</a>
					</td>
				</table>
			</div> <!-- sidebar -->

			<div id="content">
				<div id="pagecontent">
					$:content
				</div> <!-- pagecontent -->

				<p class="clear">&nbsp;</p>
				<p>Unter Verwendung der API von <a href="http://wortschatz.uni-leipzig.de/">Wortschatz Universität Leipzig</a></p>
			</div> <!-- content -->

			<div id="footer">
				Idee und Verwirklichung: Tobias Radloff | mail [at] tobias-radloff [Punkt] de <br />
				Mehr vom Autor: <a href="https://twitter.com/search?q=%23corpsq	">Corporation Square</a> | <a href="http://www.irish-mojo.de">Irish Mojo</a> | <a href="http://tobias-radloff.de/blog/">tobias-radloff.de</a>
			</div> <!-- footer -->
		</div> <!-- wrap -->

		<div id="credit">
			CSS Template by <a href="http://ramblingsoul.com" title="Download High Quality CSS Templates">RamblingSoul.com</a>
		</div> <!-- credit -->
	</body>
</html>
